body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}
.logo img {
  height: 40px;
}
.contact {
  display: flex;
  align-items: center;
  background-color: #ffe6f2;
  padding: 5px 10px;
  border-radius: 20px;
}
.contact i {
  color: #ff1493;
  margin-right: 5px;
}
.contact a {
  color: #ff1493;
  text-decoration: none;
  font-weight: bold;
}
.faq {
  display: flex;
  align-items: center;
  color: #6c63ff;
  font-size: 14px;
}
.faq i {
  margin-right: 5px;
}

/* Navbar */

.navbar {
    background-color: #007bff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.navbar .menu {
    display: flex;
    align-items: center;
    z-index: 1;
}
.navbar .menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    position: relative;
    z-index: 1;
}
.navbar .menu a:hover {
    text-decoration: underline;
}
.navbar .menu a::after {
    content: '\f0d7';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-left: 5px;
}
.navbar .menu .language {
    display: flex;
    align-items: center;
}
.navbar .menu .language i {
    margin-right: 5px;
}
.hamburger {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}
@media (max-width: 768px) {
    .navbar .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #007bff;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 1;
    }
    .navbar .menu a {
        margin: 10px 0;
        text-align: center;
        z-index: 1;
    }
    .hamburger {
        display: block;
        z-index: 1;
    }
}

/* banner y contenedor de busqueda */
.carousel {
  position: relative;
  width: 100%;
  max-width: 100%px; /* Ajusta el ancho máximo */
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}
.carousel img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
.carousel .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
}

/* Barra de búsqueda */
.search-bar {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(52, 58, 64, 0.8); /* Fondo translúcido */
  padding: 20px;
  border-radius: 20px; /* Bordes redondeados */
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 90%;
  height: 150px;

  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.search-bar div {
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.3); /* Bordes internos */
  padding: 0 20px;
}

.search-bar div:last-child {
  border-right: none;
}

.search-bar div i {
  font-size: 24px;
  margin-bottom: 5px;
}

.search-bar input {
  
  border: none;
  background: none;
  color: white;
  text-align: center;
  margin-top: 5px;
}

.search-bar button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-bar button i {
  margin-left: 10px;
  font-size: 16px;
}

.search-options {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.search-options a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
}

.search-options a.active {
  font-weight: bold;
}


/* Responsividad de los mismos */
@media (max-width: 768px) {
  .carousel {
      height: 100%;
  }
  .carousel img {
      height: 100%;
  }
  .carousel .hero-text {
      font-size: 24px;
  }
  .search-bar {
      flex-direction: column;
      padding: 10px;
      width: 90%;
  }
  .search-bar div {
      border-right: none;
      border-bottom: 1px solid #ccc;
      padding: 10px 0;
  }
  .search-bar div:last-child {
      border-bottom: none;
  }
  .search-bar button {
      margin-top: 10px;
  }
  .search-options {
      flex-direction: column;
      margin-top: 10px;
  }
  .search-options a {
      margin: 5px 0;
  }
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .carousel {
    max-width: 900px; /* Ajuste para pantallas medianas */
  }
  .carousel img {
    height: 500px; /* Ajustar la altura para pantallas medianas */
  }
}

@media (max-width: 768px) {
  .carousel {
    height: 400px;
    max-width: 700px; /* Ajuste para pantallas más pequeñas */
  }
  .carousel img {
    height: 400px;
  }
}

@media (max-width: 480px) {
  .carousel {
    height: 300px;
    max-width: 400px; /* Ajuste para pantallas pequeñas */
  }
  .carousel img {
    height: 300px;
  }
}

/* viaja con nosotros */
.container {
  text-align: center;
  margin-top: 50px;
  background-color: #d8d5d5;
  padding-top: 20px;
}
.container h1 {
  color: #1a73e8;
  font-size: 36px;
  margin-bottom: 10px;
}
.container p {
  color: #6c757d;
  font-size: 18px;
  margin-bottom: 40px;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  overflow: hidden;
  text-align: left;
  margin-bottom: 20px;
}
.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.card-content {
  padding: 20px;
}
.card-content h3 {
  font-size: 18px;
  margin: 0 0 10px;
}
.card-content p {
  font-size: 14px;
  color: #6c757d;
  margin: 0 0 20px;
}
.card-content .button {
  display: block;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}
.card-content .button:hover {
  background-color: #00a3a8;
}
@media (max-width: 768px) {
  .container h1 {
      font-size: 28px;
  }
  .container p {
      font-size: 16px;
  }
  .card {
      width: 100%;
      max-width: 300px;
  }
}
@media (max-width: 480px) {
  .container h1 {
      font-size: 24px;
  }
  .container p {
      font-size: 14px;
  }
  .card {
      width: 100%;
      max-width: 100%;
  }
}

/* seccion del interior del chaco*/

.turismo-seccion {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.turismo-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

.turismo-paquete {
  display: flex;
  justify-content: center;
  align-items: center;
}

.turismo-anuncio {
  background-color: #e0f7f8;
  border-radius: 10px;
  padding: 40px; /* Incrementa el padding para hacerla más destacada */
  text-align: center;
}

.turismo-anuncio h1 {
  font-size: 28px; /* Aumenta el tamaño de la fuente del texto principal */
  color: #0073e6;
  margin-bottom: 20px;
}

.turismo-anuncio img {
  width: 100%;
  margin: 20px 0;
  max-width: 300px;
}

.turismo-anuncio a {
  color: #0073e6;
  text-decoration: none;
  font-weight: bold;
}

.turismo-tarjetas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}

.tarjeta-ciudad {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10px;
}

.tarjeta-ciudad img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.tarjeta-ciudad:hover img {
  transform: scale(1.05);
}

.overlay-texto {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.overlay-texto h2 {
  font-size: 24px;
  margin: 0;
}

.overlay-texto span {
  background-color: #e53935;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
  display: inline-block;
}
.tarjeta-grande {
  grid-column: span 2;
  width: 100%;
}
@media (max-width: 768px) {
  .turismo-container {
    grid-template-columns: 1fr;
  }

  .turismo-tarjetas {
    grid-template-columns: 1fr;
  }
}
